.header__lang-link {
  font-family: "Inter", sans-serif;
  color: #ffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  transition: opacity 0.4s ease-in;
}

.header__lang-link:hover {
  opacity: 0.7;
}

@media all and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}