.place__title {
  box-sizing: border-box;
  grid-area: place__title;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}

@media (max-width: 769px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 767px) {
  .place__title {
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
