.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
