.photo-grid {
    display: grid;
    grid-template-columns: 284px 284px 284px 284px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    justify-content: center;
    margin: 0;
    border: 1px solid gold;
    object-fit: scale-down;
}

@media all and (max-width: 1280px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media all and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media all and (min-width: 320px) and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat (12, 1fr);
        padding-left: 16px;
        padding-right: 16px;
    }
}