.photo-grid {
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  justify-content: center;
  margin: 0;
  object-fit: scale-down;
  padding-bottom: 92px;
}

@media all and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (12, 1fr);
  }
}
