.photo-grid {
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  justify-content: center;
  margin: 0;
  object-fit: scale-down;
  padding-top: 92px;
}

@media (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 769px) {
  .photo-grid {
    padding-top: 88px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (12, 1fr);
    gap: 12px;
  }
}
