.places {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  gap: 80px;
}

@media (max-width: 1025px) {
  .places {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 769px) {
  .places {
    gap: 73px;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 90px;
  }
}

@media (max-width: 425px) {
  .places {
    gap: 50px;
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
  }
}