@import url(./Inter-Web/inter.css);
body {
    background-color:#2A2C2F;
    margin: 0;
    font-family: "Inter";
    color: #FFFF;
}

.wrapper {
    min-width: 320px;
    border: 1px solid lightgoldenrodyellow;
    margin: 0 auto;
}

.page-content {
    border: 1px solid lightsalmon;
    width: 984px;
    margin: 0 auto;
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
    .page-content  {
        width: 928px;
    }
}

@media all and (max-width: 1024px){
    .page-content  {
        width: 100vw;
    }
}