.lead__shelf {
   max-width: 984px;
   height: 615px;
   width: 100%; 
}

@media all and (max-width: 1280px) {
    .lead__shelf  {
        height: 580px;
        max-width: 100%;
    }
}

@media all and (max-width: 1024px){
    .lead__shelf  {
        height: 100%;
    }
}