.lead {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1025px) {
  .lead {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 769px) {
  .lead {
    padding: 0;
  }
}
