.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    margin: 0 auto;     
}

@media (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}