.header {
  display: flex;
  margin: 0 auto;
  padding-top: 28px;
  justify-content: space-between;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 769px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}