.header {
    height: 52px;
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 28px;
}

@media all and (max-width: 768px) {
    .header {
    padding-left: 24px;
    padding-right: 24px;
    }
}