.footer__link {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  transition: opacity 0.4s ease-in;
}

.footer__link:hover {
  opacity: 0.7;
}

@media (max-width: 720px) {
  .footer__link {
    line-height: 24px;
    font-size: 24px;
  }
}
