.lead__title {
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0;
    width: 720px;
    height: 200px;
}

@media all and (max-width: 768px) and (min-width: 425px) {
    .lead__title {
        width: 100%;
        height: 100%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media all and (max-width: 425px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}