.lead__title {
  margin: 0;
  padding-top: 56px;
  width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media (max-width: 1025px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
