.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (max-width: 720px) {
  .footer__copyright {
    line-height: 14px;
    font-size: 14px;
    padding-bottom: 24px;
  }
}