.wrapper {
    max-width: 1280px;
    padding: 0 48px;
    margin: 0 auto;
}

@media all and (max-width: 768px) {
    .wrapper {
        padding: 0 24px;
    }
}

@media all and (max-width: 425px) {
    .wrapper {
        padding: 0 16px;
    }
}