.intro__text {
  margin: 0;
  max-width: 690px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 769px) {
  .intro__text {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro__text {
    width: 100%;
  }
}


