.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    border: 1px solid silver;
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
 .intro  {
     padding-left: 48px;
 }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
 .intro  {
     width: 100%;
     height: 100%;
     padding-left: 24px;
     padding-right: 24px;
 }
}

@media all and (max-width: 425px) and (min-width: 320px) {
    .intro  {
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
   }
