.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
}

@media all and (max-width: 1025px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media all and (max-width: 767px) and (min-width: 425px) {
  .lead__subtitle {
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 44px;
  }
}

@media all and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
    padding-top: 16px;
  }
}
