.lead__subtitle {
  width: 640px;
  margin: 0;
  padding-top: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 767px) {
  .lead__subtitle {
    width: 288px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
