.lead__subtitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 640px;
    height: 72px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 64px;
}

@media all and (max-width: 768px) and (min-width: 425px) {
    .lead__subtitle {
        width: 100%;
        height: 100%;
        font-size: 30px;
        line-height: 36px;
    }
}

@media all and (max-width: 425px) {
    .lead__subtitle {
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}