.cover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/cover-train.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 8 / 5;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .cover {
    width: calc(100% - 92px);
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 1025px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}