.cover {
  min-height: 740px;
  max-width: 1184px;
  background: url(../../images/cover-train.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  margin-bottom: 92px;
}

.cover .cover__title, 
.cover .cover__subtitle {
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .cover {
    min-height: 200px;
    margin-bottom: 64px;
  }
}