.header__lang-link {
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}

@media all and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}