.place__col {
  max-width: 460px;
  width: 100%;
}

.place__col:nth-child(2) {
  max-width: 484px;
}

@media (max-width: 1024px) {
  .place__col {
    max-width: 440px;
  }

  .place__col:nth-child(2) {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__col {
    max-width: 340px;
  }

  .place__col:nth-child(2) {
    max-width: 352px;
  }
}

@media (max-width: 768px) {
  .place__col,
  .place__col:nth-child(2) {
    max-width: 100%;
  }
}
