.footer__navigation {
    display: flex;
    gap: 18px;
    margin: 0;
}

@media (max-width: 720px) {
    .footer__navigation {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 48px;
    }
}