.footer__navigation {
  display: flex;
  gap: 18px;
  margin: 0;
} transition: opacity 0.4s ease-in;

.footer__navigation:hover {
  opacity: 0.7;
}

@media (max-width: 720px) {
  .footer__navigation {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 48px;
  }
}