.lead__caption {
  margin: 0;
  padding-top: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media (max-width: 769px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}