.lead__caption {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  align-self: flex-start;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 8px;
}
