.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 550px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 228px;
  }
}
