.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0 0 32px;
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}