.place {
  grid-template-columns: 460px 484px;
  gap: 40px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 28px;
  }
}
