.footer {
  display: flex;
  margin: 0 auto;
  padding-top: 92px;
  justify-content: space-between;
  max-width: 1184px;
  padding-bottom: 24px;
}

@media (max-width: 1279px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 769px) {
  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}