.lead__polka {
   width: 984px;
   height: 615px; 
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
    .lead__polka  {
        width: 928px;
        height: 580px;
    }
}

@media all and (max-width: 1024px){
    .lead__polka  {
        width: 100vw;
        height: 100%;
    }
}