.cover__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: all 0.4s ease-in-out;
  border: 1px solid red;
}

.cover__content:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 425px) {
  .cover__content {
    max-width: 288px;
  }
}