.cover__content {
  text-decoration: none;
  color: #ffff;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.cover__content:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 425px) {
  .cover__content {
    gap: 16px;
  }
}