.place__item {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .place__item {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .place__item {
    gap: 28px;
  }
}

@media (max-width: 425px) {
  .place__item {
    flex-direction: column;
  }
}
