.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
}

@media (max-width: 425px) {
  .intro__title {
    padding-right: 40px;
    font-size: 32px;
    line-height: 35px;
  }
}
